.form{
    margin: 60px 0px;
    display: flex;
    justify-content: center;
   

    & form{
        max-width: 80%;
        background-color: #F6F6F6;
        border-radius: 20px;
        padding: 20px 30px;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    }

}

