.time{
    
    text-align: center;
    padding: 32px;
}

.time h3{
    display: inline-block;
    font-size: 24px;
    text-align: center;
   
}


.time h3::after{
    content: '';
    border: 3px solid var(--cor-principal);
    display: block;
    width: 50px;
    margin: auto;

}


.cardsBox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}